.form-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

form{
    max-width: 800px;
    background-color: #ffffff; 
    margin: 1rem;  
    padding: 2rem;
    border-radius: 10px;

}

.required-star::after {
  content: " *";
  color: red;
}