@font-face {
    font-family: 'Simpsonfont';
    src: url('https://github.com/adolivaresl/prueba_font/blob/main/Simpsonfont.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.simpsons-header{
    
    padding-bottom: 0;
}
body {
    margin: 0;
    padding: 0;
    background: url('../imagenes/background.jpg');
    background-size: cover;
}
h1 {
    font-family: 'Simpsonfont', sans-serif;
    color: #FFD700;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 3em;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px black;
}
nav{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}
.rosca{
    background: url('../imagenes/rosca.png') no-repeat center center;
    background-size: cover;
    height: 5em;
    display: flex;
    justify-self: center;
}
li {
    display: inline;
    float: left;
    text-align: center;
}
li a {
    font-family: 'Simpsonfont', sans-serif;
    color: #FFD700;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px black;
}
.container-cards{
    margin: 1em;
}
.card{
    height: 500px;
}
.card-img {
    width: 120px;         
    height: auto;
    margin: 10px auto;
}
.card-body{
    overflow-y: scroll;
}