<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Simpson</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/personality.css">
</head>
<body>
    <header class="simpsons-header">
        <h1>Los<br> simpsons</h1>
        <nav>
            <ul class="nav-main">
                <li>
                    <a href="../index.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Historia
                    </a>
                </li>
                <li>
                    <a href="personajes.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Personajes
                    </a>
                </li>
                <li>
                    <a href="predicciones.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Predicciones
                    </a>
                </li>
                <li>
                    <a href="voces.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Voces
                    </a>
                </li>
                <li>
                    <a href="sabias_que.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Sabias que...
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="row row-cols-1 row-cols-md-4 g-4 container-cards">
         <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/homero.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Homero Simpson</h5>
                <p class="card-text">Homero Simpsons torpe, perezoso, impulsivo y amante de la cerveza, pero con un gran corazón casado con Marge y padre de tres hijos, sus actos oscilan entre lo ridículo y lo heroico. Aunque suele actuar sin pensar, ha demostrado un amor profundo por su familia y una extraña habilidad para salir airoso de cualquier desastre.</p>
            </div>
            </div>
        </div>
         <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/Marge.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Marge Simpson</h5>
                <p class="card-text">Marge Simpson es la madre paciente, cariñosa y moralmente firme del hogar. Aunque muchas veces ignorada por su familia, se mantiene como el pilar que los sostiene. Amante de la cocina, la limpieza y el orden, también es artista, pedagoga y profundamente dedicada a sus hijos. A pesar de las locuras de Homero, lo ama con devoción, aunque su paciencia tiene límites. Marge representa el equilibrio entre la sensatez, la ternura y la fuerza silenciosa dentro del caos de Springfield..</p>
            </div>
            </div>
        </div>
         <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/bart.webp" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bart Simpson</h5>
                <p class="card-text">Bart Simpson es el hijo mayor de la familia, conocido por su rebeldía, humor irreverente y frases como “¡Ay caramba!”. Travieso por naturaleza, es fanático de Krusty el Payaso y experto en hacer bromas junto a su mejor amigo Milhouse. Aunque desobedece las reglas y causa problemas, también muestra ingenio, carisma y una gran puntería.</p>
            </div>
            </div>
        </div>
        <div class="col ">
            <div class="card">
            <img src="../imagenes/personajes/Lisa.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lisa Simpsons</h5>
                <p class="card-text">Lisa Simpson es una niña de 8 años brillante, curiosa y apasionada por el conocimiento. Amante del jazz y defensora del medio ambiente. Toca el saxofón, es budista, vegetariana y sueña con cambiar el mundo.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/Maggie.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Maggie Simpson</h5>
                <p class="card-text">La más pequeña de la familia Simpson, Maggie es mucho más que un simple bebé. Aunque su entorno la descuida constantemente, ha desarrollado una notable autosuficiencia, imitando comportamientos de su entorno con sorprendente destreza. Es capaz de preparar su propio biberón, organizar motines infantiles, y hasta ha salvado a su familia en varias ocasiones.

Siente un profundo apego por su madre y es ignorada casi por completo por Homer, lo que refleja la desigualdad de roles parentales en la familia. A pesar de ser una bebé, Maggie ha demostrado signos de inteligencia excepcional, aunque se sugiere que es influencia de su hermana Lisa.

Silenciosa pero muy expresiva, siempre lleva su chupete rojo, su moño azul y un mameluco celeste. Su ternura contrasta con su inesperada capacidad para la acción… ¡y para el caos</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/abraham.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Abraham Simpson</h5>
                <p class="card-text">Abraham Simpson, el abuelo paterno, es un anciano olvidadizo, excéntrico y muchas veces marginado por su familia. Vive contando anécdotas absurdas de su pasado, mezcla de recuerdos reales e inventados. Aunque padece narcolepsia y demencia senil, a veces sorprende con momentos de lucidez. Su personaje refleja con humor la soledad y el trato que suelen recibir los adultos mayores en la sociedad.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/Selma.png" class="card-img" alt="...">
            <h5 class="card-title">Selma Bouvier</h5>
            <div class="card-body">
                <p class="card-text">Selma Bouvier es la hermana mayor de Marge y gemela de Patty. Fumadora empedernida, trabaja en el Departamento de Tráfico y es madre adoptiva de Ling. Siempre ha temido envejecer sola, lo que la ha llevado a varios matrimonios fallidos, incluyendo a Bob Patiño, Troy McClure, el Abuelo Simpson y Fat Tony. Aunque busca el amor, ha decidido que sólo se casará nuevamente por amor… o dinero. A pesar de su carácter áspero, ha demostrado tener un lado sensible, especialmente con su hija. Vive con Patty y su iguana Jub-Jub en su departamento de solteras.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/Patty.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Patty Bouvier</h5>
                <p class="card-text">Patty Bouvier tiene 45 años, es la hermana mayor de Marge y gemela de Selma. Soltera por elección y lesbiana declarada, trabaja como funcionaria en el Departamento de Tráfico de Springfield, donde realiza exámenes de vista y entrega licencias con una cuota de sarcasmo. Fumadora compulsiva, pasa sus noches viendo MacGyver y siente una obsesiva admiración por Richard Dean Anderson.

Detesta profundamente a Homer Simpson, al punto de preferir arriesgar la seguridad vial con tal de fastidiarlo. Aunque alguna vez salió con Skinner, nunca se casó para no dejar sola a Selma, y luego salió del clóset en un desfile del Orgullo Gay. Estuvo a punto de casarse con Verónica, quien resultó ser un hombre.

Es cínica, sarcástica, maniáticamente organizada y adora hacerle cosquillas en los pies a sus sobrinos. Se enorgullece de no estar tan desesperada como Selma y ha encontrado su lugar en un mundo de papeleo, cigarrillos y series de los 80.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/ned.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ned Flanders</h5>
                <p class="card-text">Ned Flanders es el amable y excesivamente educado vecino de los Simpson. Zurdo, cristiano devoto y dueño de la tienda Leftorium, representa todo lo que Homer detesta… aunque secretamente admira. Su personalidad dulce, optimista y extremadamente correcta lo convierte en el vecino perfecto… y en la pesadilla de Homer.

Fue esposo de Maude hasta su trágica muerte, y es padre de Rod y Todd. A pesar de su bondad, a veces muestra rasgos moralistas e intolerantes, incluyendo actitudes antisemitas y homofóbicas, aunque con indicios contradictorios sobre su propia sexualidad.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/Burns.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Charles Montgomery Burns</h5>
                <p class="card-text">Charles Montgomery Burns es el anciano, poderoso y despiadado dueño de la Planta Nuclear de Springfield. Es el jefe directo de Homer Simpson, a quien rara vez recuerda, y siempre está acompañado por su fiel asistente Smithers. Burns encarna al típico magnate capitalista sin escrúpulos, obsesionado con el poder y el dinero, sin importar las consecuencias para los demás.

De comportamiento mezquino y carácter amargado, utiliza su fortuna para salirse con la suya, pasando por encima de leyes, personas y hasta la lógica. Su avanzada edad y referencias anacrónicas le dan un toque cómico: habla de la era victoriana como si fuera ayer y usa inventos completamente obsoletos.

Su frase más conocida es “Excelente...”, dicha con un tono siniestro mientras junta las yemas de los dedos. También suele ordenar “¡Suelta a los sabuesos!” cuando recibe visitas indeseadas. Aunque fue concebido como un villano plano, su éxito lo convirtió en parte esencial del universo Simpson. Con el tiempo, ha mutado de villano temible a excéntrico ridículo… pero igual de peligroso.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/smithers.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Waylon Smithers Jr.</h5>
                <p class="card-text">Asistente leal del Sr. Burns, Smithers es eficiente, servicial y profundamente devoto de su jefe, por quien siente un amor no correspondido. Aunque nunca se ha declarado abiertamente gay, su orientación es evidente a lo largo de la serie, siendo definido como “Burns-sexual”.

Suele ser disciplinado, ha ganado múltiples premios de “Empleado del Mes” y controla la asistencia en la planta. Pese a su entrega, sus intentos por ascender han sido ignorados, siendo reemplazado incluso por un perro.

Fanático de Stacy Malibú, Smithers representa la mezcla entre un trabajador modelo y una figura emocionalmente dependiente, siempre a la sombra de Burns.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="..." class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="..." class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="..." class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="..." class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="..." class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid footer">
        <div class="row">
            <div class="col-md-3 offset-md-2">
                <h5>Bienvenidos al mundo de Los Simpson</h5>
            </div>
            <div class="col-md-3 dashed-border">
                <h5>Links</h5>
                <ul>
                    <li><a href="../index.html">Historia</a></li>
                    <li><a href="personajes.html">Personajes</a></li>
                    <li><a href="predicciones.html">Predicciones</a></li>
                    <li><a href="voces.html">Voces</a></li>
                    <li><a href="sabias_que.html">Sabías que...</a></li>
                </ul>
            </div>
            <div class="col-md-3 dashed-border">
                <h5>Comunidad</h5>
                <ul>
                    <li><a href="https://simpsons.fandom.com/es/wiki/The_Simpsons" target="_blank">Wiki de Los Simpson</a></li>
                    <li><a href="https://www.youtube.com/@lossimpsonlatino3849" target="_blank">Cortos de los Simpsons</a></li>
                    <li><a href="https://frinkiac.com/" target="_blank">Frinkiac</a></li>
                    <li><a href="https://www.nohomers.net/" target="_blank">No Homers Club</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p class="created">Creado por Dani y Domi 💛</p>
        </div>
    </footer>
</body>
</html>