<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Simpson</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="simpsons-header">
        <h1>Los<br> simpsons</h1>
        <nav>
            <ul>
                <li>
                    <a href="../index.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Historia
                    </a>
                </li>
                <li>
                    <a href="personajes.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Personajes
                    </a>
                </li>
                <li>
                    <a href="predicciones.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Predicciones
                    </a>
                </li>
                <li>
                    <a href="voces.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Voces
                    </a>
                </li>
                <li>
                    <a href="sabias_que.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Sabias que...
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>