<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Simpson</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/personality.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="simpsons-header">
        <h1>Los<br> simpsons</h1>
        <nav>
            <ul class="nav-main">
                <li>
                    <a href="../index.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Historia
                    </a>
                </li>
                <li>
                    <a href="personajes.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Personajes
                    </a>
                </li>
                <li>
                    <a href="predicciones.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Predicciones
                    </a>
                </li>
                <li>
                    <a href="juegos.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Juegos
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="row row-cols-1 row-cols-md-4 g-4 container-cards">
         <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/homero.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Homero Simpson</h5>
                <p class="card-text">Homer Simpson: vago, tragón, fan de la cerveza y experto en meter la pata. Es padre, esposo y casi un héroe por accidente. No piensa mucho, pero ama a su familia… cuando se acuerda. Un caos andante con suerte de roble.</p>
            </div>
            </div>
        </div>
         <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/Marge.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Marge Simpson</h5>
                <p class="card-text">Marge Simpson: ama de casa con peinado antiaéreo, reina del orden y santa de paciencia. Ignorada por su tropa, pero sin ella todo se cae a pedazos. Ama a Homero (aunque no sepa por qué). Es la cuerda floja entre locura, amor y fregona.</p>
            </div>
            </div>
        </div>
         <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/bart.webp" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bart Simpson</h5>
                <p class="card-text">Bart Simpson: genio del caos, amante del “¡Ay caramba!” y maestro de las travesuras. Entre bromas a Skinner y líos con Milhouse, demuestra más puntería que juicio. Un pequeño demonio con carisma, onda y cero interés en portarse bien.</p>
            </div>
            </div>
        </div>
        <div class="col ">
            <div class="card">
            <img src="../imagenes/personajes/Lisa.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lisa Simpsons</h5>
                <p class="card-text">Lisa Simpson es una niña de 8 años brillante, curiosa y apasionada por el conocimiento. Amante del jazz y defensora del medio ambiente. Toca el saxofón, es budista, vegetariana y sueña con cambiar el mundo.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/Maggie.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Maggie Simpson</h5>
                <p class="card-text">Maggie Simpson: bebé muda, chupete en boca y alma de justiciera. Ignorada por Homero, idolatra a Marge y es más autosuficiente que muchos adultos. Entre biberones y motines, ya ha salvado a su familia más veces que Homero sobrio.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/abraham.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Abraham Simpson</h5>
                <p class="card-text">Abraham Simpson: viejo cascarrabias con más historias que dientes. Entre siestas narcolépticas y delirios seniles, a veces suelta perlas de sabiduría. Marginado por su familia, pero experto en dormir y quejarse como nadie en Springfield.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/Selma.png" class="card-img" alt="...">
            <h5 class="card-title">Selma Bouvier</h5>
            <div class="card-body">
                <p class="card-text">Selma Bouvier: gemela rancia, fumadora crónica y cazadora de maridos nefastos. Madre de Ling y dueña de una iguana con más carisma que sus ex. Aún sueña con amor (o dinero), pero mientras tanto vive amargamente feliz con Patty y Jub-Jub.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/Patty.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Patty Bouvier</h5>
                <p class="card-text">Patty Bouvier: lesbiana, sarcástica y adicta al cigarro y a MacGyver. Odia a Homer con pasión y reparte licencias como si fueran castigos. Nunca se casó para no dejar sola a Selma, pero casi lo hace… con un hombre disfrazado. Springfield la teme.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/ned.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ned Flanders</h5>
                <p class="card-text">Ned Flanders: zurdo, beato, optimista y tan bueno que irrita. Viudo de Maude, padre de Rod y Todd, y enemigo favorito de Homer. Ama a Dios, odia el pecado… aunque a veces duda de qué le gusta más. Moralista, amable y sospechosamente reprimido.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/Burns.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Charles Montgomery Burns</h5>
                <p class="card-text">Montgomery Burns: millonario, anciano, ruin y más seco que momia. Olvida quién es Homer, pero nunca cómo explotar Springfield. Su maldad es vintage, su frase es “Excelente...” y su hobby: soltar sabuesos y arruinar vidas. Aún respira… apenas.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/smithers.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Waylon Smithers Jr.</h5>
                <p class="card-text">Smithers, esclavo fiel de Burns, ama en secreto a su jefe y hace todo por él. Nunca sube de puesto (hasta un perro lo pasó). Fan de Stacy Malibú, disciplinado y atrapado en un amor imposible que nadie reconoce. Un héroe triste y muy quemado.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/Apu.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Apu Nahasapeemapetilon</h5>
                <p class="card-text">Doctor en computación de CalTec, ahora esclavo del Kwik-E-Mart en Springfield. Apu, el hindú con acento indio, devoto de Ganesha, trabaja sin parar (92 hrs seguidas y terminó aleteando). Recibe balas, ahorra como loco y sobrevive a los gamberros.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/nelson.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nelson Muntz</h5>
                <p class="card-text">Nelson, el matón con corazón blando: amigo de Jimbo y banda, molesta a los débiles, y es el “otro mejor amigo” de Bart. Se enamoró de Lisa, la chica brillante, y aunque le pega, ella igual sigue suspirando por él. ¡Amor de barrio!</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/barney.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Barney Gumble</h5>
                <p class="card-text">Barney, alcohólico crónico de Springfield, mitad polaco, mitad noruego y 100% desastre. Vive en la taberna de Moe, debe 15 mil millones y canta en baños. Intentó ser sobrio, piloto y artista, pero vuelve a la Duff porque, ¿agua? ¿qué es eso?</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/edna.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Edna Krabappel</h5>
                <p class="card-text">Edna, profe hastiada que a veces se finge dedicada, pero quiere que Bart le haga una broma para sentirse viva. Sexy y soltera (o divorciada), tuvo rollos con Skinner, Moe y hasta Flanders. Termina casada pero Homer casi la mata... otra vez.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="../imagenes/personajes/Seymour.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Seymour Skinner</h5>
                <p class="card-text">Skinner no es Skinner: es Armin Tamzarian, ladrón de identidad y ex soldado con corazón púrpura. Suplantó al verdadero Seymour tras Vietnam y se quedó con la mamá, la escuela y el puesto. ¡Hasta que volvió el real... y Springfield lo echó!</p>
            </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="container-fluid footer">
        <div class="row">
            <div class="col-md-3 offset-md-2 welcome">
                <h4>Bienvenidos al <br> mundo de <br> Los Simpson</h4>
                <img src="../imagenes/rafa_siendo_rafa.png" alt="Rafa sale dicciendo que se comió el footer">
            </div>
            <div class="col-md-3 dashed-border">
                <h5>Links</h5>
                <ul>
                    <li><a href="../index.html">Historia</a></li>
                    <li><a href="personajes.html">Personajes</a></li>
                    <li><a href="predicciones.html">Predicciones</a></li>
                    <li><a href="voces.html">Voces</a></li>
                    <li><a href="sabias_que.html">Sabías que...</a></li>
                </ul>
            </div>
            <div class="col-md-3 dashed-border">
                <h5>Comunidad</h5>
                <ul>
                    <li><a href="https://simpsons.fandom.com/es/wiki/The_Simpsons" target="_blank">Wiki de Los Simpson</a></li>
                    <li><a href="https://www.youtube.com/@lossimpsonlatino3849" target="_blank">Cortos de los Simpsons</a></li>
                    <li><a href="https://frinkiac.com/" target="_blank">Frinkiac</a></li>
                    <li><a href="https://www.nohomers.net/" target="_blank">No Homers Club</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p class="created">Creado por Dani y Domi 💛</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>