<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Simpson</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/predicciones.css">
</head>
<body>
    <header class="simpsons-header">
        <h1>Los<br> simpsons</h1>
        <nav>
            <ul class="nav-main">
                <li>
                    <a href="../index.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Historia
                    </a>
                </li>
                <li>
                    <a href="personajes.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Personajes
                    </a>
                </li>
                <li>
                    <a href="predicciones.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Predicciones
                    </a>
                </li>
                <li>
                    <a href="voces.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Voces
                    </a>
                </li>
                <li>
                    <a href="sabias_que.html">
                        <img class="rosca" src="../imagenes/rosca_sin_comer_no_fondo.png" alt="">
                        Sabias que...
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="paper col-md-8 offset-md-2">
            <div class="row"><h1>El Springfield Times</h1>
            </div>
            <div class="row">
                <div class="col-md-12 subtitle"><h6>¡Las predicciones que asustan al mundo!</h6>
                </div>
            </div>
            <div class="row like-row">
                <div class="col-md-5">            
                    <article>
                        <h2>El smartwatch y los dispositivos inteligentes</h2>
                        <p>
                            Allá por 1995, Homero y compañía ya mostraban relojes inteligentes. Hoy en día, estos dispositivos son parte de nuestra vida diaria. ¿Coincidencia? ¡No lo creemos!
                        </p>
                    </article>
                    <article>
                        <h2>El final de "Juego de Tronos"</h2>
                        <p>
                            En un capítulo, Homero arruina un final de fantasía al destruir un dragón... ¡y años después, el final de la serie fue sorprendentemente similar!
                        </p>
                    </article>
                    <article>
                        <h2>La pandemia y el virus asiático</h2>
                        <p>
                            En un episodio, un virus procedente de Asia invade Springfield, adelantando lo que sería la crisis sanitaria mundial del COVID-19.
                        </p>
                    </article>
                </div>
            <div class="col-md-6 vertical-divisor">
                <div class="row">
                    <article class="notice-with-image">
                        <h2>La presidencia de Donald Trump</h2>
                        <img src="../imagenes/predicciones/lisa_casa_blanca.png" alt="Lisa asume presidencia de Estados Unidos">
                        <p>
                            En un episodio del año 2000, Los Simpsons mostraron a Lisa asumiendo la presidencia tras un "desastre económico heredado de Trump". Años después, esto se volvió realidad cuando Trump llegó a la Casa Blanca.
                        </p>
                    </article>
                </div>
                <div class="row">
                    <h6>Cupones</h6>
                    <div class="row ">
                        <div class="col-md-5 coupon">
                            <h3>15%</h3>
                            <span>de descuento</span>
                            <p>Visita central nuclear de Springfield</p>
                        </div>
                        <div class="col-md-5 coupon">
                            <h3>50% desc.</h3>
                            <p>APU’S KWIK-E-MART</p>
                            <p>Salchicas "Casi Fresh""</p>
                            <span>*cualquier problema estomacal es solo coincidencia</span>
                        </div>
                        <div class="col-md-5 coupon">
                            <h3>¡Consulta gratis!</h3>
                            <p>Lionel Hutz</p>
                            <p>Abogado</p>
                            <span>“¿Justicia? ¡Podemos intentarlo!”</span>
                            <p>(Si no gana su caso, ¡es probable que usted esté en prisión de todos modos!)</p>
                            <span><strong>No válido en tribunales reales.</strong></span>
                        </div>
                        <div class="col-md-5 coupon">
                            <span>“Hola, soy Troy McClure. Tal vez me recuerdes de cupones como este.”</span>
                            <h3>20% DE DESCUENTO</h3>
                            <p>en cualquier espectáculo en el que actúe Troy McClure (si es que queda alguno).</p>
                            <span><strong>*No incluye películas, programas de televisión o actuaciones en vivo.</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="container-fluid footer">
        <div class="row">
            <div class="col-md-3 offset-md-2">
                <h5>Bienvenidos al mundo de Los Simpson</h5>
            </div>
            <div class="col-md-3 dashed-border">
                <h5>Links</h5>
                <ul>
                    <li><a href="../index.html">Historia</a></li>
                    <li><a href="personajes.html">Personajes</a></li>
                    <li><a href="predicciones.html">Predicciones</a></li>
                    <li><a href="voces.html">Voces</a></li>
                    <li><a href="sabias_que.html">Sabías que...</a></li>
                </ul>
            </div>
            <div class="col-md-3 dashed-border">
                <h5>Comunidad</h5>
                <ul>
                    <li><a href="https://simpsons.fandom.com/es/wiki/The_Simpsons" target="_blank">Wiki de Los Simpson</a></li>
                    <li><a href="https://www.youtube.com/@lossimpsonlatino3849" target="_blank">Cortos de los Simpsons</a></li>
                    <li><a href="https://frinkiac.com/" target="_blank">Frinkiac</a></li>
                    <li><a href="https://www.nohomers.net/" target="_blank">No Homers Club</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p class="created">Creado por Dani y Domi 💛</p>
        </div>
    </footer>
</body>
</html>